@model  Commonlayer.Models.RequestModel.Employee
@*@{IEnumerable<SelectListItem> year = (IEnumerable<SelectListItem>)ViewData["Year"];
    IEnumerable<SelectListItem> day = (IEnumerable<SelectListItem>)ViewData["Day"];
    IEnumerable<SelectListItem> month = (IEnumerable<SelectListItem>)ViewData["Month"];
    //IEnumerable<SelectListItem> salary = (IEnumerable<SelectListItem>)ViewData["Salary"];//
}*@




@{
    ViewBag.Title = "Form";
}

<head>
    <meta name="viewport" content="width=device-width" />

    @*<title>Wehry Home Page</title>*@
</head>

<body>

    @using (Html.BeginForm("Form", "Employee", FormMethod.Post, new { @class = "form-box" }))
    {
        <div class="form-title">Employee Payroll Form</div>
        @Html.Partial("~/Views/Shared/_EmployeeForm.cshtml", Model)

        <label class="salary-label" for="salary">Salary</label>
        @Html.DropDownListFor(m => m.Salary, new SelectList(ViewBag.Salary, "Text", "Value"), "Select Salary", new { @class = "salary-select", id = "salary", name = "salary", @style = "font-size:16px" })
        @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger5", id = "year" })

        <label class="date-label" for="date">Start Date</label>
        @Html.DropDownListFor(m => m.Year, new SelectList(ViewBag.Year, "Text", "Value"), "Year", new { @class = "year-select", id = "year", name = "year", @style = "font-size:16px" })
        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger6", id = "year" })

        @Html.DropDownListFor(m => m.Month, new SelectList(ViewBag.Month, "Text", "Value"), "Month", new { @class = "month-select", id = "month", name = "month", @style = "font-size:16px" })
        @Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger7", id = "month" })

        @Html.DropDownListFor(m => m.Day, new SelectList(ViewBag.Day, "Text", "Value"), "Day", new { @class = "day-select", id = "day", name = "day", @style = "font-size:16px" })
        @Html.ValidationMessageFor(m => m.Day, "", new { @class = "text-danger8", id = "day" })



        <div class="button">
            <a href='@Url.Action("GetEmployeeDetails", "Employee")' class="button1">
               Cancel
            </a>
            <button class="button2" type="submit">Submit</button>
            <a href='@Url.Action("Form", "Employee")' class="button3">
                Reset
            </a>


        </div>
    }

    <h4 style="color:purple" id="output"></h4>
</body>


