@using EmployeePayrollProject.Helpers;
@model Commonlayer.Models.RequestModel.Employee
@{IEnumerable<Commonlayer.Models.RequestModel.Employee>
                              employees = (IEnumerable<Commonlayer.Models.RequestModel.Employee>)ViewData["employees"];
    IEnumerable<Commonlayer.Models.RequestModel.Employee>
    employeesDepartments = (IEnumerable<Commonlayer.Models.RequestModel.Employee>)ViewData["employees_departments"];}


@{
    ViewBag.Title = "GetEmployeeDetails";
}

<body>
    <div class="form-title1">Employee Details</div>
    <a href='@Url.Action("Form", "Employee")' style="font-size:16px;" class="add_user">
        + Add User
    </a>


    <table id="t01">
        <tr>
            <th>

            </th>
            <th style="font-size:16px">
                <div>
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </th>
            <th style="font-size:16px">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th style="font-size:16px">
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th style="font-size:16px">
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th style="font-size:16px">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th style="font-size:16px"> Actions </th>
        </tr>
        @foreach (var item in employees)
        {

    <tr>
        <td>
            <img src="@Url.Content(@item.ProfileImage)" />
        </td>
        <td style="font-size:16px">
            @Html.DisplayFor(modelItem => item.Name, new { @style = "font-size:16px" })
        </td>
        <td style="font-size:16px">
            @Html.DisplayFor(modelItem => item.Gender, new { })
        </td>
        <td>
            @foreach (var person in employeesDepartments)
            {
                if (person.EmployeeId == item.EmployeeId)
                {
                    foreach (var dept in person.multipleDepartments)
                    {
                        if (dept == " HR")
                        {
                            @Html.Label(dept, htmlAttributes: new { @class = "department_array1", @style = "font-size:13px" })
                        }
                        if (dept == " Sales")
                        {
                            @Html.Label(dept, htmlAttributes: new { @class = "department_array2", @style = "font-size:13px" })
                        }
                        if (dept == " Finance")
                        {
                            @Html.Label(dept, htmlAttributes: new { @class = "department_array3", @style = "font-size:13px" })
                        }
                        if (dept == " Engineer")
                        {
                            @Html.Label(dept, htmlAttributes: new { @class = "department_array4", @style = "font-size:13px" })
                        }
                        if (dept == " Others")
                        {
                            @Html.Label(dept, htmlAttributes: new { @class = "department_array5", @style = "font-size:13px" })
                        }

                    }
                }

            }

        </td>
        <td style="font-size:16px">
            @Html.DisplayFor(modelItem => item.Salary, new { @style = "font-size:16px" })
        </td>
        <td style="font-size:16px">
            @Html.DisplayFor(modelItem => item.StartDate, new { @style = "font-size:16px" })
        </td>
        <td>
            @Html.ImageActionLink(" ",
"DeleteEmployee", "Employee", new { employeeId = item.EmployeeId }, null, "~/assets/delete.PNG", new { @style = "width: 16px; height: 21px" })
            @Html.ImageActionLink(" ",
"EditEmployee", "Employee", new { employeeId = item.EmployeeId }, null, "~/assets/edit.PNG", new { @style = "width: 24px; height: 21px" })
         
            <input class='.ViewDetails' id="select" type="button" value="@item.EmployeeId"  style="width: 24px; height: 21px" src="~/assets/info.png" />

        </td>
    </tr>
        }



    </table>
    @if (ViewBag.register == "register")
    {
        <div id="snackbar" style=" position: relative;    top: 334px;   width: 310px;">Employee registration is successful</div>
    }
    @if (ViewBag.loginsuccess == "loginsuccess")
    {
        <div id="snackbar" style=" position: relative;    top: 334px;   width: 310px;">Login successful</div>
    }
    @if (ViewBag.editregister == "editregister")
    {
        <div id="snackbar" style=" position: relative;    top: 334px;   width: 310px;">Employee detail is successfully edited</div>
    }


</body>

@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}

    



