
@model Commonlayer.Models.RequestModel.Employee
@{IEnumerable<Commonlayer.Models.RequestModel.Employee>
                      employees = (IEnumerable<Commonlayer.Models.RequestModel.Employee>)ViewData["employees"];
    IEnumerable<Commonlayer.Models.RequestModel.Employee>
    employeesDepartments = (IEnumerable<Commonlayer.Models.RequestModel.Employee>)ViewData["employees_departments"];}


@{
    ViewBag.Title = "GetEmployeeDetails";
}

<div class="form-title1">Employee Details</div>
<a href='@Url.Action("Form", "Employee")' class="add_user">
    + Add User
</a>


<table id="t01">
    <tr>
        <th>

        </th>
        <th>
            <div>
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th> Actions </th>
    </tr>
    @foreach (var item in employees)
    {

        <tr>
            <td>
                <img src="@Url.Content(@item.ProfileImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @foreach (var person in employeesDepartments)
                {
                    if (person.EmployeeId == item.EmployeeId)
                    {
                        foreach (var dept in person.multipleDepartments)
                        {
                            @Html.DisplayFor(modelItem => dept, new { @class = "department_array" })
                        }
                    }

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>

                @Html.ActionLink(" ", "DeleteEmployee", new { employeeId = item.EmployeeId }, new { @style = "background-image:url('../../assets/delete1.PNG');  position: absolute;  width: 33px; height: 35px; left:1204px" }) |
                @Html.ActionLink(" ", "EditEmployee", new { employeeId = item.EmployeeId }, new { @style = "background-image:url('../../assets/edit1.PNG');  position: absolute;  width: 33px; height: 25px;left:1229px" })
             
            </td>
        </tr>
    }



</table>
   


