@using EmployeePayrollProject.Helpers;
@model Commonlayer.Models.RequestModel.Employee
@{IEnumerable<Commonlayer.Models.RequestModel.Employee>
                        employees = (IEnumerable<Commonlayer.Models.RequestModel.Employee>)ViewData["employees"];
    IEnumerable<Commonlayer.Models.RequestModel.Employee>
    employeesDepartments = (IEnumerable<Commonlayer.Models.RequestModel.Employee>)ViewData["employees_departments"];}


@{
    ViewBag.Title = "GetEmployeeDetails";
}

<div class="form-title1">Employee Details</div>
<a href='@Url.Action("Form", "Employee")' class="add_user">
    + Add User
</a>


<table id="t01">
    <tr>
        <th>

        </th>
        <th>
            <div>
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th> Actions </th>
    </tr>
    @foreach (var item in employees)
    {

        <tr>
            <td>
                <img src="@Url.Content(@item.ProfileImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @foreach (var person in employeesDepartments)
                {
                    if (person.EmployeeId == item.EmployeeId)
                    {
                        foreach (var dept in person.multipleDepartments)
                        {
                            if (dept == " HR")
                            {
                                @Html.Label(dept, htmlAttributes: new { @class = "department_array1" })
                            }
                            if (dept == " Sales")
                            {
                                @Html.Label(dept, htmlAttributes: new { @class = "department_array2" })
                            }
                            if (dept == " Finance")
                            {
                                @Html.Label(dept, htmlAttributes: new { @class = "department_array3" })
                            }
                            if (dept == " Engineer")
                            {
                                @Html.Label(dept, htmlAttributes: new { @class = "department_array4" })
                            }
                            if (dept == " Others")
                            {
                                @Html.Label(dept, htmlAttributes: new { @class = "department_array5" })
                            }

                        }
                    }

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.ImageActionLink(" ",
"DeleteEmployee", "Employee", new { employeeId = item.EmployeeId }, null, "~/assets/delete.PNG", new { @style = "width: 16px; height: 21px" })
                @Html.ImageActionLink(" ",
"EditEmployee", "Employee", new { employeeId = item.EmployeeId }, null, "~/assets/edit.PNG", new { @style = "width: 24px; height: 21px" })

            </td>
        </tr>
    }



</table>



